body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

#terminal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.xterm-viewport {
    overflow: hidden !important;
}