/* Réinitialisation de certains styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #eaeaea;
    color: #333;
}

header {
    background: #005a87;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    background-color: #0073a9;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    opacity: 0.9;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

section {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0073a9;
    color: white;
    margin-top: 20px;
}

#menu-btn {
    display: none;
    /* Cache le bouton menu sur les grands écrans */
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section {
    animation: fadeIn 1s;
}